{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <div>
      <img src="{% static 'mail/user/profile.jpg' %}" alt="Profile" class="rounded-circle" width="40" height="40">
      <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2>
    </div>
    <hr>
    <div id="emails-view" style="display: none;">
        <!-- Aquí se mostrarán los correos -->
    </div>

    <div id="compose-view" style="display: none;">
        <h3>Nuevo Mensaje</h3>
        <form id="compose-form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>From:</label>
                <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                <label>To:</label>
                <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Asunto">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Mensaje"></textarea>
            <input type="submit" class="btn btn-primary mt-2" value="Enviar">
        </form>
    </div>

    <div id="email-detail-view" style="display: none;">
        <!-- Aquí se mostrará el detalle del correo seleccionado -->
    </div>
{% endblock %}
