{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2>

  <ul class="nav">
    <!-- Botones de navegación -->
    <li class="nav-item"></li><a class="btn btn-sm btn-outline-primary" href="#" id="inbox">Inbox</a></li>
    <li class="nav-item"><a class="btn btn-sm btn-outline-primary" href="#" id="compose">Compose</a></li>
    <li class="nav-item"><a class="btn btn-sm btn-outline-primary" href="#" id="sent">Sent</a></li>
    <li class="nav-item"><a class="btn btn-sm btn-outline-primary" href="#" id="archived">Archived</a></li>
    <li class="nav-item"><a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Cerrar Sesión</a></li>
  </ul>
    <hr>

    <!-- Vista de correos y formulario de redacción -->
    <div id="emails-view" style="display: none;">
        <!-- Aquí se mostrarán los correos -->
    </div>
      
    <div id="compose-view" style="display: none;">
        <h3>New Email</h3>
        <form id="compose-form" method="POST">
        {% csrf_token %}
          <div class="form-group">
            From: <input disabled class="form-control" value="{{ request.user.email }}">
          </div>
          <div class="form-group">
            To: <input id="compose-recipients" class="form-control">
          </div>
          <div class="form-group">
            <input class="form-control" id="compose-subject" placeholder="Subject">
          </div>
          <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
          <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
      
    <div id="email-detail-view" style="display: none;">
        <!-- Aquí se mostrará el detalle del correo seleccionado -->
    </div>
      
      
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
    
{% endblock %}
