{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Django Mail{% endblock %}</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mail/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'mail/css/styles.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'mail/logo/favicon.ico' %}">
</head>
<body>
    <div class="container-fluid">
    <!-- Content Body -->
    {% block body %}
    {% endblock %}
    </div>
    <!-- Scripts -->
    <script src="{% static 'mail/inbox.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="{% static 'mail/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
