body {
    background-color: #000; 
    color: #fff; 
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
}

.navbar {
    background-color: #000; 
}

.navbar .nav-link {
    color: #fff;
    font-weight: 500;
}

.navbar .nav-link:hover {
    color: #ccc;
}

.container {
    max-width: 960px;
}

.hover-bold:hover {
    font-weight: bold;
}

.card {
    border-radius: 10px;
    border: none;
}

.logo-link {
    color: inherit; /* Mantiene el color actual del texto */
    margin-bottom: 20px;
}

.edit-btn{
    display: block;
    width: 100%;
    color: #ffffff;
    background-color: #79797979; 
    border-radius: 8px;
    border: none;
    width: 80px;
    transition: background-color 0.3s, color 0.3s;
}
.edit-btn:hover{
    background-color: #53535373; 
    color: #ffffff; 
}

.date-text {
    color: rgba(255, 255, 255, 0.6);
    font-size:medium;
    padding: 0px 20px 0px;
}

.btn-primary{
    width: 100px;
    background-color: rgb(23, 156, 240);
    border: none;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: rgb(22, 132, 201);
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.left-panel .menu a {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    color: #ffffff;
    background-color: #79797979; 
    border-radius: 8px;
    width: 150px;
    transition: background-color 0.3s, color 0.3s;
}

.left-panel .menu a:hover {
    background-color: #53535373; 
    color: #ffffff; 
}

.left-panel .btn {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    margin: 5px 0;
    color: #ffffff;
    background-color: #79797979; 
    border: none;
    border-radius: 8px; 
    width: 150px;
    transition: background-color 0.3s, color 0.3s;
}

.left-panel .btn:hover {
    background-color: #53151573; 
    color: #ffffff; 
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #000;
}
.search-bar .form-control {
    background-color: #d3d3d3; 
    color: #000; 
    border: none; 
    border-radius: 4; 
    padding: 10px;
    width: 70%; 
}

.search-bar .form-control::placeholder {
    color:#555; 
}

.search-bar .btn {
    background-color: #d3d3d3;
    color: #000; 
    border: none; 
    padding: 10px 15px;
}

.search-bar .input-group {
    max-width: 500px;
    width: 100%;
}

.search-bar .btn:disabled {
    color: #555; 
    background-color: #bcbcbc; 
}

.like-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px 20px 0px 0px;
    display: inline-flex;
    align-items: center;
}

.like-btn i {
    font-size: 1.5rem;
    color: #6c757d; 
    transition: transform 0.3s ease, color 0.3s ease-in-out;
}

.like-btn i.text-danger {
    color: #ff4d4d;
}

.like-btn:hover i {
    transform: scale(1.2);
}
