
<!DOCTYPE html>
<html lang="es-ES"> 
<head> 
	{% load static %}
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content=""> 
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 

	{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">  
	<link rel="stylesheet" type="text/css" href="{% static 'css/styleManagement.css' %}">  
	{% endblock %}

	<link rel="icon" type="image/x-icon" href="{% static 'logo/favicon.ico' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
	integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
	crossorigin="anonymous" referrerpolicy="no-referrer" /> 
	<title>{% block title %}Realestate{% endblock %}</title>
</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar vh-100 position-fixed">
					<div class="position-sticky d-flex flex-column align-items-center p-3">
						<img src="{% static 'logo/logo.png' %}" alt="logo" class="logo-img me-2" style="max-width: 120px;">
						<h1 class="text-center logo-text">Realestate</h1>
						<h4 class="text-center">Management</h4>
						<hr style="border-top: 2px solid black; width: 100%;">
						<ul class="nav flex-column w-100">
							<li class="nav-item">
								<a class="nav-link" href="{% url 'home' %}">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'management' %}">Development List</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'add_development' %}">Add Development</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-danger" href="{% url 'logout' %}">Logout</a>
							</li>
						</ul>
					</div>
				</nav>
		
				<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-left: 16.7%;">
					{% block content %}
					{% endblock %}
				</main>
			</div>
		</div>
		
		{% block scripts %}
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				const checkboxes = document.querySelectorAll('input[name="development_ids"]');
				const deleteButtonContainer = document.getElementById("delete-button-container");
				function toggleDeleteButton() {
					const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
					deleteButtonContainer.style.display = anyChecked ? "block" : "none";
				}
				checkboxes.forEach(checkbox => {
					checkbox.addEventListener("change", toggleDeleteButton);
				});
			});
		</script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		{% endblock %}
	</body>
</html>