{% extends "realestate/layout.html" %}

{% load static %}

{% block content %}

	<section id="serieMobile" style="background-image:url('/static/img/dwelling.jpg');">
			<div class="container text-center py-5" id="containerMobile">
				<div class="card text-center text-white" id=cardMobile>
					<div class="card-body d-flex flex-column text-center" id=card-bodyMobile>
						<h3 class="card-title" id=card-titleMobile>Viviendas</h3>
						<p class="card-text" id=card-textMobile>A unique product that seeks to create a different experience in an environment of enjoyment, support and tranquility,
																immersed in nature. <br>	
																With units that are delivered fully decorated and equipped, with the most complete amenities and services,
																and in environments that invite you to breathe nature, enjoyment is the only possible result.</p>
						<a href="{% url 'home' %}#serie" class="btn btn-light mt-3">Return</a>
					</div>
				</div>
			</div>
	</section>


{% endblock %}