textarea {
    min-height: 400px;
}
.email-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}


/* Fondo blanco para correos no leídos */
.email-item.unread {
    background-color: white;
}

/* Fondo gris para correos leídos */
.email-item.read:hover {
    background-color: #f0f0f0;
}

.email-item:hover {
    background-color: #e0e0e0; /* Un gris más oscuro al pasar el ratón */
}

