textarea {
    min-height: 400px;
}
.email-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}


.email-item.unread {
    background-color: white;
}

.email-item.read {
    background-color: #f0f0f0;
}

.email-item:hover {
    background-color: #e0e0e0;
}
