/* Ajuste de contenedor principal */
.container-fluid {
    max-width: 100vw;
}

/* Botón Compose centrado y redimensionado */
#compose {
    display: block;
    width: 100%;
    font-size: 1.2em;
    padding: 12px 0;
    margin: 20px auto;
    font-weight: bold;
}

/* Estilo de la tarjeta de login */
.login-card {
    background-color: rgba(128, 128, 128, 0.1); /* Gris semitransparente */
    padding: 2rem; /* Espacio alrededor del formulario */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 100%; /* Ocupa todo el ancho del contenedor en pantallas pequeñas */
    max-width: 400px; /* Ancho máximo en pantallas grandes */
}

h2.mb-0{
    color: #4e4e4e;
}

.nav-link {
    font-size: 1.2em;
    font-weight: bold;
    color: #4e4e4e;
}

/* Efecto hover en iconos del Navbar con borde redondeado */
.nav-link:hover {
    background-color: #e9ecef !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #4e4e4e;
}

.email-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}

.email-item.unread {
    background-color: white;
}

.email-item.read {
    background-color: #f0f0f0;
}

.email-item:hover {
    background-color: #e0e0e0;
}

.alert-danger {
    font-size: 0.9em;
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: 5px;
}

.form-control:focus {
    border-color: rgba(128, 128, 128, 0.75); 
    box-shadow: 0 0 0 0.2rem rgba(49, 49, 49, 0.25); 
}

textarea.form-control:focus, select.form-control:focus {
    border-color: rgba(128, 128, 128, 0.75);
    box-shadow: 0 0 0 0.2rem rgba(128, 128, 128, 0.25);
}