{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <head>
            <!-- Page title block, allows for dynamic titles -->
            <title>{% block title %}Django Birdie{% endblock %}</title>
            <meta charset="utf-8"> 
            <!-- Ensures proper scaling on different devices -->
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Google font integration -->
            <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
            <!-- Bootstrap CSS for responsive design and styling -->
            <link rel="stylesheet" href="{% static 'network/vendor/bootstrap/css/bootstrap.min.css' %}">
            <!-- Custom CSS styles -->
            <link href="{% static 'network/css/styles.css' %}" rel="stylesheet">
            <!-- Favicon for browser tab -->
            <link rel="icon" type="image/x-icon" href="{% static 'network/logo/favicon.ico' %}">
        </head>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Django Birdie</a>
            
                <div>
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'following' %}">Following</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
                </div>
            </nav>
            
            <div class="body">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <!-- JavaScript file for inbox functionality -->
        <!-- <script src="{% static 'network/script/script.js' %}"></script>-->
        <!-- Popper.js for Bootstrap tooltips and popovers -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <!-- Bootstrap JavaScript bundle -->
        <script src="{% static 'network/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>